files/bibEntriesOriginal.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.w3.org/1998/Math/MathML" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mat="http://www.w3.org/1998/Math/MathML">
    <xs:element name="bibliography" type="bibliographyType"/>

    <xs:complexType name="bibliographyType" mixed="true">
        <xs:sequence>
            <xs:element name="bibtitle" type="xs:string"/>
            <xs:element name="author" type="xs:string"/>
            <xs:element name="bibentries" type="bibentriesType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="bibentriesType">
        <xs:sequence>
            <xs:element name="bibentry" type="bibentryType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="bibentryType">
        <xs:sequence>
            <xs:element name="author" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="year" type="xs:string" minOccurs="0"/>
            <xs:element name="journal">
                <xs:complexType mixed="true">
                    <xs:sequence>
                        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/1998/Math/MathML"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="title">
                <xs:complexType mixed="true">
                    <xs:sequence>
                        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/1998/Math/MathML"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="note" type="xs:string" minOccurs="0"/>
            <xs:element name="volume" type="xs:string" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="optional"/>
        <xs:attribute name="type" type="xs:string" use="optional"/>
    </xs:complexType>

</xs:schema>
